@font-face {
    font-family: "NotesHeader";
    src: url('./fonts/Notes\ School.ttf');
}
@font-face {
    font-family: "NoteFont";
    src: url('./fonts/Notebook.ttf');
}
* {
    margin: 0;
    padding: 0;
}
:root {
    font-size: 16px;
    font-family: "NoteFont";
}
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
nav {
    width: 100%;
    background-color: rebeccapurple;
    font-size: 3rem;
    font-family: "NotesHeader";
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside {
    display: flex;
    flex-direction: column;
    background-color:rgb(191, 191, 216);
    box-sizing: border-box;
}
.schedule,.project {
    display: grid;
    align-items: center;
    font-weight: lighter;
    gap: 10px;
    height: 40px;
    font-size: 2rem;
}
#projectform {
    display:flex;
    align-self: center;
    gap: 10px;

    height: 40px;
}
/* add project  */
#projectname {
    width: 100%;
    height: 35px;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: 1.5rem;
    resize: none;
    display: flex;
    align-items: center;
    border-style: none;
    border-radius: 10px;
}
#addproject {
    width: 40%;
    padding:0px 10px;
    height: 35px;
    border: 2px white solid;
    border-radius: 10px;
    background-color: green;
    font-family: "NotesHeader";
    font-size: 1.5rem;
    color: white;
}
#addproject:active {
    transition: 0.3s;
    transform: scale(95%);
}
/*  */
section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(191, 216, 202);
}
header {
    font-size: 2.5rem;
    text-align: center;
}
.task {
    display: grid;
    align-items: center;
    gap: 5px;
    height: 30px;
    margin:10px 0px;
}
.task > div:last-of-type {
    justify-self: right;
    align-self: self-end;
}
#taskform {
    display:grid;
    align-items: center;
    gap: 10px;
    height: 40px;
}
#taskname {
    height: 28px;
    box-sizing: border-box;
    padding: 0px 5px;
    min-width: 0;
    font-size: 1.5rem;
    resize: none;
    display: flex;
    align-items: center;
}
#date {
    height: 28px;
    min-width: 98px;
    font-size: 0.75rem;
    border-radius: 5px;
    border: 1px solid rgb(75, 74, 74);
}
.dateedit {
    border-radius: 5px;
    border: 1px solid rgb(75, 74, 74);
}
#addtask {
    padding:0px 10px;
    min-width: 0;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 10px;
    font-family: "NotesHeader";
    border: 2px solid white;
    color: white;
}
#addtask:active {
    transition: 0.3s;
    transform: scale(90%);
}
.dateedit {
    min-width: 80px;
    min-height: 16px;
    font-size: clamp(0.6rem,2vw,2vh);
}
.taskedit {
    width: 80%;
    font-size: clamp(1rem,2vw,2vh);
}
footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
/* logo backgrounds */
.logo {
    width:30px;
    height:30px;
}
.today {
    background:url(./img/today.svg);
    background-size: cover;
}
.tomorrow {
    background: url(./img/tomorrow.svg);
    background-size: cover;
}
.thisweek {
    background: url(./img/week.svg);
    background-size: cover;
}
.upcoming {
    background: url(./img/upcoming.svg);
    background-size: cover;
}
.completed {
    background: url(./img/completed.svg);
    background-size: cover;
}
.projectlogo {
    background: url(./img/project.svg);
    background-size: cover;
}
.projecteditnormal,.projectremove,.projecteditadd,
.taskeditnormal,.taskremove,.taskeditadd {
    border-style: none;
}
.projecteditnormal,.taskeditnormal {
    background: url(./img/edit.svg);
    background-size: cover;
}
.projecteditadd,.taskeditadd {
    background: url(./img/add.svg);
    background-size: cover;
    width: 27px;
    height: 27px;
}
.projectremove,.taskremove {
    background: url(./img/delete.svg);
    background-size: cover;
}
/* 600 e kadar section padding 10px 40px ondan sonra tablet modunda 40px 80px */
@media only screen and (max-width: 600px) {
    nav {
        height: 10%;
    }
    aside {
        width: 100%;
        min-height: 30%;
        padding: 10px 40px;
    }
    .schedule {
        grid-template-columns: 1fr 5fr;
    }
    .project {
        grid-template-columns: 2fr 7fr 1fr 1fr;
        z-index: 1;
    }
    #projectform {
        width: 80%;
    }
    section {
        width: 100%;
        min-height: 80%;
        padding: 10px 40px;
    }
    #taskform {
        grid-template-columns: 8fr 110px 50px;
    }
    #addtask {
        font-size: 1.25rem;
    }
    .task {
        grid-template-columns: 20px 10fr 3fr 30px 30px;
        font-size: 1.5rem;
    }
    .task > input:first-of-type {
        justify-self: left;
    }
    footer {
        height: 5%;
    }
}
@media only screen and (min-width:601px) and (max-width:800px) {
    nav {
        height: 10%;
    }
    aside {
        width: 100%;
        min-height: 30%;
        padding: 20px 100px;
    }
    .schedule {
        grid-template-columns: 1fr 5fr;
    }
    .project {
        grid-template-columns: 2fr 7fr 1fr 1fr;
        z-index: 1;
    }
    #projectform {
        width: 80%;
    }
    section {
        width: 100%;
        min-height: 80%;
        padding: 20px 100px;
    }
    #taskform {
        grid-template-columns: 8fr 110px 50px;
    }
    #addtask {
        font-size: 1.25rem;
    }
    .task {
        grid-template-columns: 20px 10fr 3fr 30px 30px;
        font-size: 1.5rem;
    }
    .task > input:first-of-type {
        justify-self: left;
    }
    footer {
        height: 5%;
    }
}
@media only screen and (min-width: 801px) {
    body {
        display: grid;
        grid-template-rows: 10% 1fr 5%;
        grid-template-columns: clamp(300px,25%,420px) auto ;
    }
    nav {
        grid-column: 1/3;
    }
    aside {
        padding: 10px 20px;
    }
    .schedule {
        grid-template-columns: 1fr 7fr;
    }
    #projectform {
        width: 100%;
    }
    .project {
        grid-template-columns: 2fr 12fr 1fr 1fr;
        z-index: 1;
    }
    .projectedit {
        width: 100%;
    }
    section {
        padding: 10px 40px;
    }
    #taskform {
        grid-template-columns: 1fr 110px 60px;
    }
    .dateedit {
        width: 140px;
    }
    #addtask {
        font-size: 1.5rem;
    }
    .task {
        grid-template-columns: 40px 10fr 150px 30px 30px;
        height: 40px;
        font-size: 2rem;
    }
    .task > input:first-child {
        height: 20px;
        width: 20px;
    }
    footer {
        grid-column: 1/3;
    }
}